<div class="container">
  <div class="h1-voici-les-telephones">
    <h1 class="voici-les-telephones"> Voici les téléphones que vous pouvez réparer chez nous:</h1>
  </div>

  <div class="photo-et-caracteristiques-des-telephones">
    <% @phones.each do |phone| %>
      <%= link_to phone_path(phone), class: 'link-index' do %>
        <div class="cards-and-description">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path phone.photo.key%>')">
          </div>
          <div class="phone-spec">
              <div class="title">
                <p><%= phone.model %></p>
                <p><%= phone.brand %></p>
              </div>
              <div class="desc"><p><%= phone.capacity %></p></div>
              <div class="footer"><p><%= phone.price %>€</p></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
