<div class="container">
  <div class="div-parent-h1-and-photo-and-info">
    <div class="h1-your-phone">
      <h1 class="your-phone">Votre téléphone </h1>
    </div>
      <div class="photo-and-info-show-parent">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="img-show carousel-inner w-100 ">
              <% @phone.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= "active" if index.zero? %>">
                  <%= cl_image_tag photo.key, crop: :fill, class:"photo-show" %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div class="info-show-parent">
          <div class="title-name-phone">
            <div class="phone-model-p">
              <p class="p-phome-model"> <%= @phone.model %></p>
            </div>
            <div class="details-info-title-name-phone">
              <p> <%= @phone.camera %> | <%= @phone.processor %></p>
            </div>
          </div>
          <div class="phone-brand">
            <p> Stockage:</p>
              <div class="boxes-show-phone">
                <p id="phone-capacity"> <%= @phone.capacity %> GO</p>
              </div>
          </div>
            <div class="phone-brand">
              <p> Couleur:</p>
                <div class="boxes-show-phone">
                  <p id="phone-color"> <%= @phone.color %></p>
                </div>
            </div>
            <div class="phone-brand">
              <p> Prix: </p>
                <div class="boxes-show-phone">
                  <p id="phone-price"> <%= @phone.price %> €</p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-go-to-buy-and-repair">
    <p class="acheter"> Acheter:</p>
      <div class="boxes-repair-and-buy-boxes">
          <p id="show-buy"> <%= link_to "Acheter ce téléphone", new_phone_buy_path(@phone), class:"button-pink" %></p>
      </div>
      <p class="acheter"> Réparer:</p>
        <div class="boxes-repair-and-buy-boxes">
          <p id="show-buy"> <%= link_to "Réparer ce téléphone", new_phone_reparation_path(@phone), class:"button-pink" %></p>
        </div>
  </div>
</div>
