<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://f.hellowork.com/blogdumoderateur/2022/09/Apple-iPhone-14-Pro-iPhone-14-Pro-Max.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active telephones">
          <%= link_to "Téléphones", phones_path, class: "nav-link" %>
        </li>
        <li class="nav-item reparation">
          <%= link_to "Réparations", reparations_path, class: "nav-link" %>
        </li>
        <li class="page-dacceuil">
          <%= link_to "Page d'acceuil", "#", class: "nav-link"%>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://www.presse-citron.net/app/uploads/2022/09/test-iphone-14-pro-max-avis.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
