<div class="container">
  <div class="h1-nouvelle-reparation">
    <h1 class="nouvelle-reparation">Nouvelle réparation:</h1>
  </div>
  <div class="formulaire-nouvelle-reparation-div-parente">
    <div class="formulaire-nouvelle-reparation">
      <%= form_for([@phone, @reparation]) do |f| %>
      <%= f.label :date %>
      <%= f.text_field :date %>
      <%= f.label :price_of_repair %>
      <%= f.text_field :price_of_repair %>
      <%= f.select(:reparation_type, Reparation::LISTE_REPARATIONS) %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div class="div-parente-elements-marketing">
    <div class="div-parente-agents-certifies">
      <div class="agents-certifies">
        <div class="h4-agents-certifies">
          <h4>Agents certifiés</h4>
        </div>
        <br>
        <br>
        <h6>Formés à réparer selon les recommandations des constructeurs</h6>
      </div>
    </div>
    <div class="div-parente-garantie">
      <div class="garantie">
        <div class="h4-garantie">
          <h4>Garantie 2 ans pieces et main d'oeuvre </h4>
        </div>
        <br>
        <br>
        <h6>Valable dans tout le réseau</h6>
      </div>
    </div>
  </div>
</div>
