<div class="container">
  <div class="h1-new-repair">
    <h1 class="new-repair">Nouvelle réparation</h1>
  </div>
  <div class="formulaire-nouvelle-reparation-div-parente">
    <div class="form-new-repair">
      <%= form_for([@phone, @reparation]) do |f| %>
      <%= f.label :date %>
      <%= f.text_field :date %>
      <%= f.label :price_of_repair %>
      <%= f.text_field :price_of_repair %>
      <%= f.label :reparation_type %>
      <%= f.select(:reparation_type, Reparation::LISTE_REPARATIONS) %>
      <%= f.submit "Réserver la réparation", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
  <div class="parent-div-elements-marketing">
    <div class="parent-div-certified-workers">
      <div class="agents-certifies">
        <div class="h4-certified-workers">
          <h4>Agents certifiés</h4>
        </div>
        <br>
        <br>
        <h6>Formés à réparer selon les recommandations des constructeurs</h6>
      </div>
    </div>
    <div class="parent-div-warranty">
      <div class="warranty">
        <div class="h4-warranty">
          <h4>Garantie 2 ans pieces et main d'oeuvre </h4>
        </div>
        <br>
        <br>
        <div class="h6-avalible-in-all-stores">
          <h6>Valable dans tout le réseau</h6>
        </div>
      </div>
    </div>
  </div>
</div>
