<div class="container">
  <div class="div-parente-h1-show-reparation">
    <h1 class="votre-nouvelle-reparation">Votre nouvelle réparation :</h1>
  </div>

  <div class="div-parente-recapitulatif-reparation">
    <div class="recapitulatif-reparation">
      <ul class="elements-ul-reparation">
        <li> Date de la réparation : <%= @reparation.date.strftime('%d-%m-%Y') %></li>
        <li> Montant total : <%= @reparation.price_of_repair %> €</li>
        <li> Marque du téléphone : <%= @reparation.phone.brand %></li>
        <li> Modèle du téléphone : <%= @reparation.phone.model %></li>
        <li> Type de réparation : <%= @reparation.reparation_type %></li>
      </ul>
       <%= cl_image_tag @reparation.phone.photos.first.key, class:"photo-show-reparation" %>
    </div>
  </div>
  <div class="div-parente-aller-sur-index-reparations">
    <div class="aller-sur-index-reparation">
      <h4> Cliquez ci après pour voir l'ensemble de vos réparations à venir :   <%= link_to "Réparations", reparations_path, class:"btn btn-dark" %></h4>
    </div>
  </div>
</div>
